:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.container {
    display: grid;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    margin: auto;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 2px solid black;
}

.grid-item{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.buttons{
    text-align: center;
}